# Data cleaning

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Import data
df_qb = pd.read_csv(r'C:\Users\User\Documents\Final Project\Data\Cleaned Data\QB_clean.csv', encoding='latin1')b

In [3]:
#Alter data type to minimize data usage
df_qb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      1268 non-null   int64
 1   WEEK      1268 non-null   int64
 2   RANK      1268 non-null   int64
 3   PLAYER    1268 non-null   object
 4   CMP       1268 non-null   int64
 5   PASS ATT  1268 non-null   int64
 6   PCT       1268 non-null   float64
 7   PASS YDS  1268 non-null   int64
 8   Y/A       1268 non-null   float64
 9   PASS TD   1268 non-null   int64
 10  INT       1268 non-null   int64
 11  SACKS     1268 non-null   int64
 12  RUSH ATT  1268 non-null   int64
 13  RUSH YDS  1268 non-null   int64
 14  RUSH TD   1268 non-null   int64
 15  FL        1268 non-null   int64
 16  G         1268 non-null   int64
 17  FPTS      1268 non-null   float64
dtypes: float64(3), int64(14), object(1)
memory usage: 178.4+ KB

In [4]:
df_qb['WEEK'] = df_qb['WEEK'].astype('float16')
df_qb['RANK'] = df_qb['RANK'].astype('float16')
df_qb['CMP'] = df_qb['CMP'].astype('float16')
df_qb['PASS ATT'] = df_qb['PASS ATT'].astype('float16')
df_qb['PCT'] = df_qb['PCT'].astype('float16')
df_qb['PASS YDS'] = df_qb['PASS YDS'].astype('float16')
df_qb['Y/A'] = df_qb['Y/A'].astype('float16')
df_qb['PASS TD'] = df_qb['PASS TD'].astype('float16')
df_qb['INT'] = df_qb['INT'].astype('float16')
df_qb['SACKS'] = df_qb['SACKS'].astype('float16')
df_qb['RUSH ATT'] = df_qb['RUSH ATT'].astype('float16')
df_qb['RUSH YDS'] = df_qb['RUSH YDS'].astype('float16')
df_qb['FL'] = df_qb['FL'].astype('float16')
df_qb['G'] = df_qb['G'].astype('float16')
df_qb['FPTS'] = df_qb['FPTS'].astype('float16')

In [5]:
df_qb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      1268 non-null   int64
 1   WEEK      1268 non-null   float16
 2   RANK      1268 non-null   float16
 3   PLAYER    1268 non-null   object
 4   CMP       1268 non-null   float16
 5   PASS ATT  1268 non-null   float16
 6   PCT       1268 non-null   float16
 7   PASS YDS  1268 non-null   float16
 8   Y/A       1268 non-null   float16
 9   PASS TD   1268 non-null   float16
 10  INT       1268 non-null   float16
 11  SACKS     1268 non-null   float16
 12  RUSH ATT  1268 non-null   float16
 13  RUSH YDS  1268 non-null   float16
 14  RUSH TD   1268 non-null   int64
 15  FL        1268 non-null   float16
 16  G         1268 non-null   float16
 17  FPTS      1268 non-null   float16
dtypes: float16(15), int64(2), object(1)
memory usage: 67.0+ KB

In [6]:
#Check for missing values
df_qb.isnull().sum()

YEAR        0
WEEK        0
RANK        0
PLAYER      0
CMP         0
PASS ATT    0
PCT         0
PASS YDS    0
Y/A         0
PASS TD     0
INT         0
SACKS       0
RUSH ATT    0
RUSH YDS    0
RUSH TD     0
FL          0
G           0
FPTS        0
dtype: int64

In [7]:
#Check for duplicates
df_qb_dups = df_qb[df_qb.duplicated()]
df_qb_dups

Empty DataFrame
Columns: [YEAR, WEEK, RANK, PLAYER, CMP, PASS ATT, PCT, PASS YDS, Y/A, PASS TD, INT, SACKS, RUSH ATT, RUSH YDS, RUSH TD, FL, G, FPTS]
Index: []

In [8]:
# Create path
path = r'C:\Users\User\Documents\Final Project'

In [9]:
# Export data
df_qb.to_csv(os.path.join(path, 'Data','Cleaned Data', 'final_QB.csv'))

In [10]:
#Import data
df_rb = pd.read_csv(r'C:\Users\User\Documents\Final Project\Data\Cleaned Data\RB_clean.csv', encoding='latin1')

In [11]:
#Alter data type to minimize data usage
df_rb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2401 entries, 0 to 2400
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   YEAR         2401 non-null   int64
 1   WEEK         2401 non-null   int64
 2   RANK         2401 non-null   int64
 3   PLAYER       2401 non-null   object
 4   ATT          2401 non-null   int64
 5   RUSH YDS     2401 non-null   int64
 6   Y/A          2401 non-null   float64
 7   LG           2401 non-null   int64
 8   20+          2401 non-null   int64
 9   RUSH TD      2401 non-null   int64
 10  REC          2401 non-null   int64
 11  TGT          2401 non-null   int64
 12  REC YDS      2401 non-null   int64
 13  Y/R          2401 non-null   float64
 14  REC TD       2401 non-null   int64
 15  FL           2401 non-null   int64
 16  G            2401 non-null   int64
 17  0 PPR        2401 non-null   float64
 18  .5 PPR       2401 non-null   float64
 19  1 PPR        2401 non-null   float64
 20  Unnamed: 20  2401 non-null   float64
dtypes: float64(6), int64(14), object(1)
memory usage: 394.0+ KB

In [12]:
df_rb['WEEK'] = df_rb['WEEK'].astype('int8')
df_rb['RANK'] = df_rb['RANK'].astype('int8')
df_rb['ATT'] = df_rb['ATT'].astype('int8')
df_rb['RUSH YDS'] = df_rb['RUSH YDS'].astype('int8')
df_rb['Y/A'] = df_rb['Y/A'].astype('float16')
df_rb['LG'] = df_rb['LG'].astype('int8')
df_rb['20+'] = df_rb['20+'].astype('int8')
df_rb['RUSH TD'] = df_rb['RUSH TD'].astype('int8')
df_rb['REC'] = df_rb['REC'].astype('int8')
df_rb['TGT'] = df_rb['TGT'].astype('int8')
df_rb['REC YDS'] = df_rb['REC YDS'].astype('int8')
df_rb['Y/R'] = df_rb['Y/R'].astype('float16')
df_rb['REC TD'] = df_rb['REC TD'].astype('int8')
df_rb['FL'] = df_rb['FL'].astype('int8')
df_rb['G'] = df_rb['G'].astype('int8')
df_rb['0 PPR'] = df_rb['0 PPR'].astype('float16')
df_rb['.5 PPR'] = df_rb['.5 PPR'].astype('float16')
df_rb['1 PPR'] = df_rb['1 PPR'].astype('float16')

In [13]:
df_rb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2401 entries, 0 to 2400
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   YEAR         2401 non-null   int64
 1   WEEK         2401 non-null   int8
 2   RANK         2401 non-null   int8
 3   PLAYER       2401 non-null   object
 4   ATT          2401 non-null   int8
 5   RUSH YDS     2401 non-null   int8
 6   Y/A          2401 non-null   float16
 7   LG           2401 non-null   int8
 8   20+          2401 non-null   int8
 9   RUSH TD      2401 non-null   int8
 10  REC          2401 non-null   int8
 11  TGT          2401 non-null   int8
 12  REC YDS      2401 non-null   int8
 13  Y/R          2401 non-null   float16
 14  REC TD       2401 non-null   int8
 15  FL           2401 non-null   int8
 16  G            2401 non-null   int8
 17  0 PPR        2401 non-null   float16
 18  .5 PPR       2401 non-null   float16
 19  1 PPR        2401 non-null   float16
 20  Unnamed: 20  2401 non-null   float64
dtypes: float16(5), float64(1), int64(1), int8(13), object(1)
memory usage: 110.3+ KB

In [14]:
#Check for missing values
df_rb.isnull().sum()

YEAR           0
WEEK           0
RANK           0
PLAYER         0
ATT            0
RUSH YDS       0
Y/A            0
LG             0
20+            0
RUSH TD        0
REC            0
TGT            0
REC YDS        0
Y/R            0
REC TD         0
FL             0
G              0
0 PPR          0
.5 PPR         0
1 PPR          0
Unnamed: 20    0
dtype: int64

In [15]:
#Check for duplicates
df_rb_dups = df_rb[df_rb.duplicated()]
df_rb_dups

Empty DataFrame
Columns: [YEAR, WEEK, RANK, PLAYER, ATT, RUSH YDS, Y/A, LG, 20+, RUSH TD, REC, TGT, REC YDS, Y/R, REC TD, FL, G, 0 PPR, .5 PPR, 1 PPR, Unnamed: 20]
Index: []

[0 rows x 21 columns]

In [16]:
# Export data
df_rb.to_csv(os.path.join(path, 'Data','Cleaned Data', 'final_RB.csv'))

In [17]:
#Import data
df_wr = pd.read_csv(r'C:\Users\User\Documents\Final Project\Data\Cleaned Data\WR_clean.csv', encoding='latin1')

In [18]:
#Alter data type to minimize data usage
df_wr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3326 entries, 0 to 3325
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      3326 non-null   int64
 1   WEEK      3326 non-null   int64
 2   RANK      3326 non-null   int64
 3   PLAYER    3326 non-null   object
 4   REC       3326 non-null   int64
 5   TGT       3326 non-null   int64
 6   REC YDS   3326 non-null   int64
 7   Y/R       3326 non-null   float64
 8   LG        3326 non-null   int64
 9   20+       3326 non-null   int64
 10  REC TD    3326 non-null   int64
 11  ATT       3326 non-null   int64
 12  RUSH YDS  3326 non-null   int64
 13  RUSH TD   3326 non-null   int64
 14  FL        3326 non-null   int64
 15  G         3326 non-null   int64
 16  0 PPR     3326 non-null   float64
 17  .5 PPR    3326 non-null   float64
 18  1 PPR     3326 non-null   float64
dtypes: float64(4), int64(14), object(1)
memory usage: 493.8+ KB

In [19]:
df_wr['WEEK'] = df_wr['WEEK'].astype('float16')
df_wr['RANK'] = df_wr['RANK'].astype('float16')
df_wr['REC'] = df_wr['REC'].astype('float16')
df_wr['TGT'] = df_wr['TGT'].astype('float16')
df_wr['REC YDS'] = df_wr['REC YDS'].astype('float16')
df_wr['Y/R'] = df_wr['Y/R'].astype('float16')
df_wr['LG'] = df_wr['LG'].astype('float16')
df_wr['20+'] = df_wr['20+'].astype('float16')
df_wr['REC TD'] = df_wr['REC TD'].astype('float16')
df_wr['ATT'] = df_wr['ATT'].astype('float16')
df_wr['RUSH YDS'] = df_wr['RUSH YDS'].astype('float16')
df_wr['RUSH TD'] = df_wr['RUSH TD'].astype('float16')
df_wr['FL'] = df_wr['FL'].astype('float16')
df_wr['0 PPR'] = df_wr['0 PPR'].astype('float16')
df_wr['.5 PPR'] = df_wr['.5 PPR'].astype('float16')
df_wr['1 PPR'] = df_wr['1 PPR'].astype('float16')

In [20]:
#Check for missing values
df_wr.isnull().sum()

YEAR        0
WEEK        0
RANK        0
PLAYER      0
REC         0
TGT         0
REC YDS     0
Y/R         0
LG          0
20+         0
REC TD      0
ATT         0
RUSH YDS    0
RUSH TD     0
FL          0
G           0
0 PPR       0
.5 PPR      0
1 PPR       0
dtype: int64

In [21]:
#Check for duplicates
df_wr_dups = df_wr[df_wr.duplicated()]
df_wr_dups

Empty DataFrame
Columns: [YEAR, WEEK, RANK, PLAYER, REC, TGT, REC YDS, Y/R, LG, 20+, REC TD, ATT, RUSH YDS, RUSH TD, FL, G, 0 PPR, .5 PPR, 1 PPR]
Index: []

In [22]:
# Export data
df_wr.to_csv(os.path.join(path, 'Data','Cleaned Data', 'final_WR.csv'))

In [23]:
#Import data
df_te = pd.read_csv(r'C:\Users\User\Documents\Final Project\Data\Cleaned Data\TE_clean.csv', encoding='latin1')

In [24]:
#Alter data type to minimize data usage
df_te.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1376 entries, 0 to 1375
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      1376 non-null   int64
 1   WEEK      1376 non-null   int64
 2   RANK      1376 non-null   int64
 3   PLAYER    1376 non-null   object
 4   REC       1376 non-null   int64
 5   TGT       1376 non-null   int64
 6   REC YDS   1376 non-null   int64
 7   Y/R       1376 non-null   float64
 8   LG        1376 non-null   int64
 9   20+       1376 non-null   int64
 10  REC TD    1376 non-null   int64
 11  ATT       1376 non-null   int64
 12  RUSH YDS  1376 non-null   int64
 13  RUSH TD   1376 non-null   int64
 14  FL        1376 non-null   int64
 15  G         1376 non-null   int64
 16  0 PPR     1376 non-null   float64
 17  .5 PPR    1376 non-null   float64
 18  1 PPR     1376 non-null   float64
dtypes: float64(4), int64(14), object(1)
memory usage: 204.4+ KB

In [25]:
df_te['WEEK'] = df_te['WEEK'].astype('int8')
df_te['RANK'] = df_te['RANK'].astype('int8')
df_te['REC'] = df_te['REC'].astype('int8')
df_te['TGT'] = df_te['TGT'].astype('int8')
df_te['REC YDS'] = df_te['REC YDS'].astype('int8')
df_te['Y/R'] = df_te['Y/R'].astype('float16')
df_te['LG'] = df_te['LG'].astype('int8')
df_te['20+'] = df_te['20+'].astype('int8')
df_te['REC TD'] = df_te['REC TD'].astype('int8')
df_te['ATT'] = df_te['ATT'].astype('int8')
df_te['RUSH YDS'] = df_te['RUSH YDS'].astype('int8')
df_te['RUSH TD'] = df_te['RUSH TD'].astype('int8')
df_te['FL'] = df_te['FL'].astype('int8')
df_te['G'] = df_te['G'].astype('int8')
df_te['0 PPR'] = df_te['0 PPR'].astype('float16')
df_te['.5 PPR'] = df_te['.5 PPR'].astype('float16')
df_te['1 PPR'] = df_te['1 PPR'].astype('float16')

In [26]:
df_te.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1376 entries, 0 to 1375
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      1376 non-null   int64
 1   WEEK      1376 non-null   int8
 2   RANK      1376 non-null   int8
 3   PLAYER    1376 non-null   object
 4   REC       1376 non-null   int8
 5   TGT       1376 non-null   int8
 6   REC YDS   1376 non-null   int8
 7   Y/R       1376 non-null   float16
 8   LG        1376 non-null   int8
 9   20+       1376 non-null   int8
 10  REC TD    1376 non-null   int8
 11  ATT       1376 non-null   int8
 12  RUSH YDS  1376 non-null   int8
 13  RUSH TD   1376 non-null   int8
 14  FL        1376 non-null   int8
 15  G         1376 non-null   int8
 16  0 PPR     1376 non-null   float16
 17  .5 PPR    1376 non-null   float16
 18  1 PPR     1376 non-null   float16
dtypes: float16(4), int64(1), int8(13), object(1)
memory usage: 49.8+ KB

In [27]:
#Check for missing values
df_te.isnull().sum()

YEAR        0
WEEK        0
RANK        0
PLAYER      0
REC         0
TGT         0
REC YDS     0
Y/R         0
LG          0
20+         0
REC TD      0
ATT         0
RUSH YDS    0
RUSH TD     0
FL          0
G           0
0 PPR       0
.5 PPR      0
1 PPR       0
dtype: int64

In [28]:
#Check for duplicates
df_te_dups = df_te[df_te.duplicated()]
df_te_dups

Empty DataFrame
Columns: [YEAR, WEEK, RANK, PLAYER, REC, TGT, REC YDS, Y/R, LG, 20+, REC TD, ATT, RUSH YDS, RUSH TD, FL, G, 0 PPR, .5 PPR, 1 PPR]
Index: []

In [29]:
# Export data
df_te.to_csv(os.path.join(path, 'Data','Cleaned Data', 'final_TE.csv'))

In [30]:
#Import data
df_fa = pd.read_csv(r'C:\Users\User\Documents\Final Project\Data\Cleaned Data\FA_clean.csv', encoding='latin1')

In [31]:
#Alter data type to minimize data usage
df_fa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          173 non-null    int64
 1   Player        173 non-null    object
 2   From          173 non-null    object
 3   To            173 non-null    object
 4    Value (Ms)   173 non-null    object
 5   Tax Rate      173 non-null    object
 6   Tax Est (Ms)  173 non-null    object
dtypes: int64(1), object(6)
memory usage: 9.6+ KB

In [32]:
df_fa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          173 non-null    int64
 1   Player        173 non-null    object
 2   From          173 non-null    object
 3   To            173 non-null    object
 4    Value (Ms)   173 non-null    object
 5   Tax Rate      173 non-null    object
 6   Tax Est (Ms)  173 non-null    object
dtypes: int64(1), object(6)
memory usage: 9.6+ KB

In [33]:
#Check for missing values
df_fa.isnull().sum()

Year            0
Player          0
From            0
To              0
 Value (Ms)     0
Tax Rate        0
Tax Est (Ms)    0
dtype: int64

In [34]:
#Check for duplicates
df_fa_dups = df_fa[df_fa.duplicated()]
df_fa_dups

Empty DataFrame
Columns: [Year, Player, From, To,  Value (Ms) , Tax Rate, Tax Est (Ms)]
Index: []

In [35]:
# Export data
df_fa.to_csv(os.path.join(path, 'Data','Cleaned Data', 'final_FA.csv'))